body{
  font-family: Poppins300Normal sans-serif;
}
.btn{
  background: none;
  border: 2px solid black;
  padding: 10px 20px;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;

  &.btn__smSmall{
    font-size: 12px;
    padding: 5px 10px;
  }

  &.btn__smMedium{
    font-size: 12px;
    padding: 10px 20px;
  }
  &.btn__smLarge{
    font-size: 12px;
    padding: 29px 25px;
  }
  &.btn__danger{
    background: red;
    border-color: #ab5668;
    color: white;
    &:hover{
      background: #722bff;
      border-color: #b700ff;
      transition: 0.3s;
      color: black;
    }
  }

  &.btn__info{
    background: chocolate;
    border-color: #ab5668;
    color: white;
  }

  &.btn__success{
    background: darkviolet;
    border-color: #5664ab;
    color: white;
  }
  &:hover{
    background: cadetblue;
    border-color: chartreuse;
    transition: 0.3s;
    color: black;
  }
}
.header__li{
  &__submit{
    background-color: $color_header_submit;
    border-radius: 7px;
    transition: 0.3s;
    padding: 7px 27px;
    border: none;
    color: $color_header_menu_h1;
    &:hover{
      background: $color_header_menu_hover;
      border-radius: 7px;
      transition: 0.3s;
    }
  }
}
