$header_image: url('../../assets/image 9.jpg');
$header_logo: url('../../assets/Group2.png');
$header_dot: url('../../assets/Dot Ornament.png');
$main_img: url('../../assets/image 10.png');
$font_header_menu_h1: 70px;
$display-flex: flex;
$font-stack: Poppins300Normal, sans-serif;
$container-max-width: 1170px;
$width_header_menu_p: 416px;
$color_header_menu_a: #0d98fd;
$color_header_menu_h1: white;
$color_header_menu_p: white;
$color_header_submit: #646466;
$color_header_menu_hover: #0d98fd;
$color_header_li_hover: #0d98fd;
$color_header_li: white;
