@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul, ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "PoppinsBoldNormal";
  src: url("../../assets/fonts/Poppins-Bold.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../../assets/fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-Bold.woff2") format("woff2"), url("../../assets/fonts/Poppins-Bold.woff") format("woff"), url("../../assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-BlackItalic.eot");
  src: local("Poppins Black Italic"), local("Poppins-BlackItalic"), url("../../assets/fonts/Poppins-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-BlackItalic.woff2") format("woff2"), url("../../assets/fonts/Poppins-BlackItalic.woff") format("woff"), url("../../assets/fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Black.eot");
  src: local("Poppins Black"), local("Poppins-Black"), url("../../assets/fonts/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-Black.woff2") format("woff2"), url("../../assets/fonts/Poppins-Black.woff") format("woff"), url("../../assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-BoldItalic.eot");
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../../assets/fonts/Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Poppins-BoldItalic.woff") format("woff"), url("../../assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-ExtraBold.eot");
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../../assets/fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../../assets/fonts/Poppins-ExtraBold.woff") format("woff"), url("../../assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-ExtraBoldItalic.eot");
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../../assets/fonts/Poppins-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../../assets/fonts/Poppins-ExtraBoldItalic.woff") format("woff"), url("/../../assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-ExtraLight.eot");
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("../../assets/fonts/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../../assets/fonts/Poppins-ExtraLight.woff") format("woff"), url("../../assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-ExtraLightItalic.eot");
  src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"), url("../../assets/fonts/Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../../assets/fonts/Poppins-ExtraLightItalic.woff") format("woff"), url("../../assets/fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Italic.eot");
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../../assets/fonts/Poppins-Italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-Italic.woff2") format("woff2"), url("../../assets/fonts/Poppins-Italic.woff") format("woff"), url("../../assets/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins300Normal";
  src: url("../../assets/fonts/Poppins-Light.eot");
  src: local("Poppins Light"), local("Poppins-Light"), url("../../assets/fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-Light.woff2") format("woff2"), url("../../assets/fonts/Poppins-Light.woff") format("woff"), url("../../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-LightItalic.eot");
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../../assets/fonts/Poppins-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-LightItalic.woff2") format("woff2"), url("../../assets/fonts/Poppins-LightItalic.woff") format("woff"), url("../../assets/fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins500Normal";
  src: url("../../assets/fonts/Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../../assets/fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-Medium.woff2") format("woff2"), url("../../assets/fonts/Poppins-Medium.woff") format("woff"), url("../../assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-MediumItalic.eot");
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../../assets/fonts/Poppins-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-MediumItalic.woff2") format("woff2"), url("../../assets/fonts/Poppins-MediumItalic.woff") format("woff"), url("../../assets/fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../../assets/fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-Regular.woff2") format("woff2"), url("../../assets/fonts/Poppins-Regular.woff") format("woff"), url("../../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../../assets/fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Poppins-SemiBold.woff") format("woff"), url("../../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-SemiBoldItalic.eot");
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("../../assets/fonts/Poppins-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../../assets/fonts/Poppins-SemiBoldItalic.woff") format("woff"), url("../../assets/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Thin.eot");
  src: local("Poppins Thin"), local("Poppins-Thin"), url("../../assets/fonts/Poppins-Thin.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-Thin.woff2") format("woff2"), url("../../assets/fonts/Poppins-Thin.woff") format("woff"), url("../../assets/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins100Italic";
  src: url("../../assets/fonts/Poppins-ThinItalic.eot");
  src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"), url("../../assets/fonts/Poppins-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Poppins-ThinItalic.woff2") format("woff2"), url("../../assets/fonts/Poppins-ThinItalic.woff") format("woff"), url("../../assets/fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: Poppins300Normal sans-serif;
}

.btn {
  background: none;
  border: 2px solid black;
  padding: 10px 20px;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
.btn.btn__smSmall {
  font-size: 12px;
  padding: 5px 10px;
}
.btn.btn__smMedium {
  font-size: 12px;
  padding: 10px 20px;
}
.btn.btn__smLarge {
  font-size: 12px;
  padding: 29px 25px;
}
.btn.btn__danger {
  background: red;
  border-color: #ab5668;
  color: white;
}
.btn.btn__danger:hover {
  background: #722bff;
  border-color: #b700ff;
  transition: 0.3s;
  color: black;
}
.btn.btn__info {
  background: chocolate;
  border-color: #ab5668;
  color: white;
}
.btn.btn__success {
  background: darkviolet;
  border-color: #5664ab;
  color: white;
}
.btn:hover {
  background: cadetblue;
  border-color: chartreuse;
  transition: 0.3s;
  color: black;
}

.header__li__submit {
  background-color: #646466;
  border-radius: 7px;
  transition: 0.3s;
  padding: 7px 27px;
  border: none;
  color: white;
}
.header__li__submit:hover {
  background: #0d98fd;
  border-radius: 7px;
  transition: 0.3s;
}

.header {
  background-image: url("../../assets/image 9.jpg");
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font: 100% Poppins300Normal, sans-serif;
}
.header__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header__content {
  display: flex;
  padding: 15px;
}
.header__info {
  align-items: center;
  width: 50%;
  display: flex;
}
.header__img {
  background-image: url("../../assets/Group2.png");
  height: 38px;
  width: 129px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__nav {
  width: 50%;
}
.header__ul {
  justify-content: right;
  display: flex;
  gap: 30px;
}
.header__li {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  width: 114px;
  justify-content: center;
  align-items: center;
  height: 44px;
  display: flex;
}
.header__li:hover {
  background: #0d98fd;
  border-radius: 7px;
  transition: 0.3s;
}
.header__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__menu h1 {
  color: white;
  font-size: 70px;
  width: 590px;
}
.header__menu p {
  color: white;
  width: 416px;
}
.header__menu a {
  text-decoration: none;
  color: #0d98fd;
}
.header__submit {
  background-color: #0d98fd;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 0.3s;
  padding: 7px 27px;
  border: none;
  color: white;
}
.header__submit:hover {
  background: blue;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 0.3s;
}
.header__select {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header:after {
  content: "";
  display: block;
  width: 364px;
  height: 138px;
  background-image: url("../../assets/Dot Ornament.png");
  position: absolute;
  left: 965px;
  top: 725px;
}

.main {
  font: 100% Poppins300Normal, sans-serif;
  padding-top: 100px;
}
.main__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.main__menu {
  display: flex;
  gap: 30px;
}
.main__menu p {
  width: 416px;
}
.main__info {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.main__info a {
  text-decoration: none;
  color: #0d98fd;
}
.main__info h1 {
  font-size: 45px;
}
.main__img {
  width: 40%;
  background-image: url("../../assets/image 10.png");
  height: 366px;
  display: flex;
}
.main__contact {
  display: flex;
  width: 20%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.main__contact p {
  width: 185px;
}
.main__number {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  align-items: center;
}
.main__ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main__ul li {
  display: flex;
}
.main__ul li:hover a {
  color: #0d98fd;
  transition: 0.3s;
}
.main__ul a {
  text-decoration: none;
  color: #646464;
}
.main__li {
  display: flex;
  width: 127px;
}

.prime {
  font: 100% Poppins300Normal, sans-serif;
  background-color: #f3f3f9;
  height: 869px;
  padding-top: 100px;
}
.prime__select {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: right;
}
.prime__select p {
  width: 416px;
}
.prime__select a {
  text-decoration: none;
  color: #0d98fd;
}
.prime:after {
  content: "";
  display: block;
  width: 364px;
  height: 138px;
  background-image: url("../../assets/Dot Ornament.png");
  position: absolute;
  left: 965px;
  top: 725px;
}
.prime__text {
  display: flex;
}
.prime__pictures {
  width: 66px;
  height: 66px;
  background-image: url("../../assets/Rectangle 842.png");
}
.prime__pictures2 {
  width: 66px;
  height: 66px;
  background-image: url("../../assets/Rectangle 844.png");
}
.prime__pictures3 {
  width: 66px;
  height: 66px;
  background-image: url("../../assets/Rectangle 846.png");
}
.prime__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.prime__menu {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.prime__menu h1 {
  font-size: 45px;
}
.prime__ready {
  flex: 1 1 14rem;
  height: 299px;
  background-color: white;
  border-top-right-radius: 100px;
}
.prime__test {
  flex: 1 1 14rem;
  height: 299px;
  background-color: white;
  border-top-right-radius: 100px;
}
.prime__certificate {
  flex: 1 1 14rem;
  height: 299px;
  background-color: white;
  border-top-right-radius: 100px;
}
.prime__primary {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}
.prime__purpule {
  color: #0d98fd;
  font-size: 18px;
  font-weight: bold;
}
.prime__blue {
  color: #722bff;
  font-size: 18px;
  font-weight: bold;
}
.prime__services {
  padding: 30px;
  /* display: flex; */
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.prime__services a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.prime__services a:hover {
  color: #ff001e;
  transition: 0.3s;
}
.prime__services p {
  font-size: 20px;
}
.prime__submit {
  background-color: #0d98fd;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 0.3s;
  padding: 7px 27px;
  border: none;
  color: white;
}
.prime__submit:hover {
  background: blue;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 0.3s;
}

.cards {
  position: relative;
}

.main__cards {
  font: 100% Poppins300Normal, sans-serif;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  padding-bottom: 100px;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid rgba(236, 239, 241, 0.2);
  border-top-right-radius: 100px;
}

.card:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card:nth-child(2) {
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(25rem 25rem at var(--x) var(--y), #000 1%, transparent 50%);
  mask: radial-gradient(25rem 25rem at var(--x) var(--y), #000 1%, transparent 50%);
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

.footer {
  background-color: #646466;
  font: 100% Poppins300Normal, sans-serif;
  height: 358px;
}
.footer__pictures {
  background-image: url("../../assets/icon _instagram_.png");
  width: 30px;
  height: 30px;
}
.footer__email {
  padding-top: 96px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.footer__email a {
  text-decoration: none;
}
.footer__menu {
  display: flex;
  gap: 30px;
}
.footer__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.footer__left {
  width: 50%;
  height: 358px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.footer__left p {
  color: rgba(243, 243, 249, 0.76);
}
.footer__right {
  width: 50%;
  height: 358px;
  display: flex;
  justify-content: right;
  gap: 30px;
  align-items: center;
}
.footer__right p {
  color: white;
}
.footer__img {
  background-image: url("../../assets/Group2.png");
  height: 38px;
  width: 129px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=style.css.map */
